.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.performer {
  position: absolute;
  top: 30px;
  right: 0;
  width: fit-content;
  height: 90px;
  padding: 32.5px 15px 32.5px 25px;
  font-size: 25px;
  font-weight: bold;
  background: var(--color-light-gray);
  border-radius: 40px 0 0 40px;
}

.musicTitle {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
  color: var(--color-black);
  text-shadow:
    0 0 10px var(--color-white),
    0 0 10px var(--color-white),
    0 0 10px var(--color-white),
    0 0 10px var(--color-white),
    0 0 10px var(--color-white);
}

.shouldBeMuted {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 16px;
  color: var(--color-black);
  text-shadow:
    0 0 10px var(--color-white),
    0 0 10px var(--color-white),
    0 0 10px var(--color-white),
    0 0 10px var(--color-white),
    0 0 10px var(--color-white);
}

.orangeObject {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
  width: calc(100% - 30px);
  height: 30px;
  background-color: var(--color-orange);
  border-radius: 0 0 0 40px;
}
