*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-surface);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray);
}
