.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-modal-background);
}

.modalContent {
  position: relative;
  width: 1000px;
  height: 500px;
  padding-top: 100px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 10px;
}

.dates {
  margin-top: 20px;
  font-size: 36px;
  font-weight: normal;
}

.modalButtons {
  display: flex;
  padding-left: 125px;
  margin-top: 70px;
}

.closeButton {
  width: 275px;
  height: 100px;
  background-color: var(--color-gray);
  border-radius: 10px;
}

.confirmButton {
  width: 275px;
  height: 100px;
  margin-left: 200px;
  background-color: var(--color-red);
  border-radius: 10px;
}
