.music {
  width: 350px;
  height: 40px;
  padding: 15px 20px;
  color: var(--color-white);
  cursor: pointer;
  background: var(--color-surface);
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

