.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-modal-background);
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85vh;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 15px;
}

.modalHeader {
  height: 40px;
  padding: 0 35px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: var(--color-white);
  background: var(--color-surface);
}

.modalBody .items {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 20px;
  margin-top: 15px;
  overflow: hidden;
}

.performances,
.musics,
.details {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.performances, .musics{
  border-right: solid 3px var(--color-light-gray);
}

.performances ul,
.musics ul {
  padding: 0;
  margin: 0 15px;
  list-style: none;
}

.performances li,
.musics li {
  padding: 12px;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--color-bg);
  cursor: pointer;
  border-radius: 15px;
}

.performances li:hover,
.musics li:hover {
  background-color: var(--color-light-gray);
}

.performances li.selected,
.musics li.selected {
  color: var(--color-bg);
  background-color: var(--color-light-gray);
}