.performances {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: calc(100vh - 60px - 20px - 200px);
  padding: 0;
  overflow-y: scroll;
  list-style: none;
}

.performances li:hover {
  cursor: pointer;
}
