.play_stopButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.playButton {
  padding: 10px 35px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  background: #61cc68;
  border: 3px solid var(--color-white);
  border-radius: 50px;
  cursor: pointer;
}

.playButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.stopButton {
  padding: 10px 35px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  background: #ff515a;
  border: 3px solid var(--color-white);
  border-radius: 50px;
  cursor: pointer;
}

.stopButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.playingLabel {
  color: var(--color-white);
  font-size: 14px;
  white-space: nowrap;
}

.cannotPlayLabel {
  color: var(--color-red);
  font-size: 14px;
  white-space: nowrap;
}
