.performance {
  width: 100%;
  height: calc(65px + 30px);
  padding: 15px 20px;
  color: var(--color-white);
  cursor: pointer;
  background: var(--color-surface);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.performance[data-selected="false"] {
  transform: scale(0.9);
}

.performance[data-playing="true"] {
  border: 1px solid var(--color-white);
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.time {
  line-height: 22px;
}

.isPlaying {
  line-height: 22px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  line-height: calc(65px - 22px);
  text-align: center;
}
