.conversionMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 60px - 20px - 150px);
  padding: 30px;
  color: var(--color-white);
  border: 8px solid var(--color-surface);
  border-radius: 40px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
  margin-left: 40px;
  font-size: 24px;
  font-weight: bold;
}
